.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 80px 0 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;

    .search-input {
        width: 60%;
        max-width: 400px;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        font-size: 1rem;
    }
}
